.app-card {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.random {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}
.locaStore {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.Content {
  display: flex;
  justify-content: center;
}

.app-card {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.navbar {
  padding: 20px;
  background-color: #9c6154;
  font-family: cursive;
  font-size: large;
  display: flex;
}

.random {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}
.locaStore {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.Container {
  display: flex;

  justify-content: center;
  align-items: center;
}

.Container-dark {
  background-color: #000;
}

.Container-light {
  background-color: rgb(216, 216, 216);
}

.Content-dark {
  color: #fee;
}

.Lightswitch {
  display: flex;

  justify-content: center;
  align-items: center;
}
